/* ----------------- Function Page ----------------- */

.function__header {
    background:rgba(0, 172, 0, 0.561);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height:auto;
    height: 10vw;
    font-family: 'Tahoma', sans-serif;
    font-size:  3vw;
    color: silver;
    border-top: 0.15vw solid silver;
    border-bottom: 0.15vw solid silver;
    border-radius: 2.8vw;
}

#title{
    font-family: 'Tahoma', sans-serif;
    text-align: left;
    font-size:  2vw;
    color: rgb(121, 199, 114);
    padding: 1vw;
    border-left: 0.4vw solid rgb(121, 199, 114);
    border-radius: 1.4vw;
    width: 100%;
}

.container {
    background:rgba(0, 172, 0, 0.787);
    min-height:auto;
    height: 100%;
    border-top: 0.15vw solid silver;
    border-bottom: 0.15vw solid silver;
    border-radius: 2.8vw;
}

/* Pythagoras */
#pyth__paragraph {
    font-size: 80px;
    margin: 60px;
}

/* Orthodrome */
#ortho__paragraph {
    font-size: 80px;
    margin: 60px;
}

/* Schaltjahre */
#schalt__paragraph {
    font-size: 80px;
    margin: 60px;
}
