/* ----------------- Function Page ----------------- */

.function__header {
    background: rgba(0, 172, 0, 0.561);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height:auto;
    height: 10vw;
    font-family: 'Tahoma', sans-serif;
    font-size:  3vw;
    color: silver;
    border-top: 0.15vw solid silver;
    border-bottom: 0.15vw solid silver;
    border-radius: 2.8vw;
}

#title{
    font-family: 'Tahoma', sans-serif;
    text-align: left;
    font-size:  2vw;
    color: rgb(121, 199, 114);
    padding: 1vw;
    border-left: 0.4vw solid rgb(121, 199, 114);
    border-radius: 1.4vw;
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.container {
    background:rgba(0, 172, 0, 0.787);
    min-height:auto;
    height: 100%;
    border-top: 0.15vw solid silver;
    border-bottom: 0.15vw solid silver;
    border-radius: 2.8vw;
}

/* Orthodrome */
.ortho__table{
    margin:auto;
    border: 0.3vw solid rgb(121, 199, 114);
    border-left-width: 0.2vw;
    border-right-width: 0.2vw;
    border-radius: 1.4vw;
    padding: 1vw;
    text-align: center;
}

#ortho__header{
    color: silver;
    font-size: min(max(1vw, 4vw), 2vw);
    font-family: 'Tahoma', sans-serif;
    padding: 1vw;
}

#ortho__header span{
    padding: 2px;
    border: 0.5px solid silver;
    border-radius: 10px;
}

#ortho__button {
    width: 5vw;
    height: 10vh;
    background-color: rgb(6, 110, 6);
    font-family: 'Roboto', sans-serif;
    font-size: min(max(1vw, 2vw), 2vw);
    text-align: center;
    vertical-align: middle;
    padding: 0;
    color: silver;
    border: 0.1vw solid silver;
    border-radius: 1vw;
    cursor: pointer;
}

#ortho__button:hover {
  background: rgb(121, 199, 114);
  transition-duration: 1s;
}

#ortho__button:active {
    background: rgba(0, 172, 0, 0.239);
    transition-duration: 90ms;
}

#map {
    border: 0.2vw solid rgb(121, 199, 114);
    height: 50vh;
    width: 80vw;
}

#ortho__text {
    color: silver;
    font-size: min(max(1vw, 4vw), 2vw);
    font: 'Tahoma', sans-serif;
    margin: auto;
}

#ortho__out{
    font: 'Courier New', monospace;
    color: orangered;
    font-size: min(max(1vw, 2vw), 1vw);;
    background-color: rgba(255, 255, 255, 0.863);
    border: 0.5px solid silver;
    border-radius: 3px;
    padding: 3px 30px;
    margin: 5px;

}

/* Pythagoras */
#pyth__paragraph {
    font-size: 80px;
    margin: 60px;
}

/* Schaltjahre */
#schalt__paragraph {
    font-size: 80px;
    margin: 60px;
}
