/* ----------------- Manage Page ----------------- */

.manage__header {
    background:rgba(236, 90, 5, 0.65);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height:auto;
    height: 10vw;
    font-family: 'Tahoma', sans-serif;
    font-size:  3vw;
    color: silver;
    border-top: 0.15vw  solid silver;
    border-bottom: 0.15vw  solid silver;
    border-radius: 2.8vw;
}

#title{
    font-family: 'Tahoma', sans-serif;
    text-align: left;
    font-size:  2vw;
    color: rgb(226, 140, 100);
    padding: 1vw;
    border-left: 0.4vw  solid rgb(226, 140, 100);
    border-radius: 1.4vw;
    width: 100%;
}

.container {
    background:rgb(236, 90, 5, 0.801);
    min-height:auto;
    height: 100%;
    border-top: 0.15vw  solid silver;
    border-bottom: 0.15vw  solid silver;
    border-radius: 2.8vw;
}

/* Notenverwaltung */
#noten__paragraph {
    font-size: 80px;
    margin: 60px;
}

/* Autoverwaltung */
#auto__paragraph {
    font-size: 80px;
    margin: 60px;
}