* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Tahoma', sans-serif;
}

html, body { height: 100%; }

/* ----------------- Navbar ----------------- */
.navbar {
    background: #242323;
    height: 80px;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

#navbar__logo {
    background-image: linear-gradient(to top, #ff2d08 0%, #f1e040 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 3rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__tasks {
    display: inline-block;
    height: 80px;
    position: relative;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 22px;
    
}

.navbar__links {
    color: #fff;
    border: 1px solid silver;
    box-sizing: border-box;
    border-radius: 20px;
    border-width: 2px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    text-decoration: none;
    height: 40px;
    transition: all 0.5s ease;
}

.navbar__links:hover {
    color: #ffe609de;
    transition: all 0.3s ease;
}

.navbar__items {
    display: none;
    width: 100%;
    margin-left: 24px;
    overflow: auto;
    list-style: none;
    background: #242323;
    margin-left: -1px;
    margin-top: -3px;
    padding-bottom: 10px;
    text-align: center;
    border: 0px solid silver;
    border-width: 2px;
    border-top-color: #242323;
    border-radius: 0px 0px 20px 20px;    
}

.navbar__tasks:hover .navbar__items { display: block; }

.items {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.5s ease;
}

.items:hover {
    color: rgb(98, 98, 185);
    transition: all 0.3s ease;
}

/* ----------------- Home Page ----------------- */

.home__container {
    background:rgb(107, 106, 102);
    min-height:auto;
    height: 100%;
    font-family: 'Tahoma', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 50px;
}

.home__content span{
    background-image: linear-gradient(to top, #ff2d08 0%, #f1e040 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/* ----------------- Function Page ----------------- */

.function__container {
    background:rgb(160, 132, 18);
    min-height:auto;
    height: 100%;
    font-family: 'Tahoma', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 50px;
}

/* ----------------- Manage Page ----------------- */

.manage__container {
    background:rgb(168, 101, 69);
    min-height:auto;
    height: 100%;
    font-family: 'Tahoma', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 50px;
}

/* ----------------- Trafo Page ----------------- */

.trafo__container {
    background:rgb(69, 63, 153);
    min-height:auto;
    height: 100%;
    font-family: 'Tahoma', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 50px;
}

/* ----------------- Footer CSS ----------------- */
.footer__container {
    background-color: #242323;
    height: 70px;
  }

  #website__rights {
    font-size: 30px;
    font-family: Garamond;
    text-align: center;
    color: #d8c9c944;
    padding-top: 15px;
    padding-bottom: 15px;
  }