/* ----------------- Trafo Page ----------------- */

.trafo__header {
    background:rgba(22, 85, 122, 0.801);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height:auto;
    height: 10vw;
    font-family: 'Tahoma', sans-serif;
    font-size:  3vw;
    color: silver;
    border-top: 0.15vw solid silver;
    border-bottom: 0.15vw solid silver;
    border-radius: 2.8vw;
}

.container {
    background:rgb(28, 99, 141);
    min-height:auto;
    height: 100vh;
    min-height: 50px;
    border-top: 0.15vw solid silver;
    border-bottom: 0.15vw solid silver;
    border-radius: 2.8vw;
}

#title{
    font-family: 'Tahoma', sans-serif;
    text-align: left;
    font-size: min(max(2vw, 4vw), 2vw);
    color: rgb(114, 165, 199);
    padding: 1vw;
    border-left: 0.4vw solid rgb(114, 165, 199);
    border-radius: 1.4vw;
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

/* Himmelsrichtungen */
.himmel__table{
    margin:auto;
    border: 0.3vw solid rgb(114, 165, 199);
    border-left-width: 0.2vw;
    border-right-width: 0.2vw;
    border-radius: 1.4vw;
    padding: 1vw;
}

#form{
    text-align: center;
    vertical-align: top;
    border-right: 0.2vw solid rgb(114, 165, 199);
    padding: 1vw;
    
}

#himmel__label {
    color: silver;
    font-size: min(max(1vw, 4vw), 2vw);
    border-bottom: 0.2vw solid rgb(114, 165, 199);
    padding: 1vw;
}

#grad__in {
    width: 25vw;
    height: 20vh;
    max-width: 80%;
    max-height: 80%;
    margin-top: 6vh;
    background-color: rgba(22, 85, 122, 0.801);
    font-family: 'Roboto', sans-serif;
    font-size: min(max(1vw, 5vw), 5vw);
    text-align: center;
    vertical-align: middle;
    color: silver;
    border: 0.1vw solid silver;
    border-radius: 1vw;
}

#himmel__button {
    width: 5vw;
    height: 20vh;
    max-width: 80%;
    max-height: 80%;
    margin-top: 6vh;
    background-color: rgba(24, 22, 122, 0.801);
    font-family: 'Roboto', sans-serif;
    font-size: min(max(1vw, 5vw), 5vw);
    text-align: center;
    vertical-align: middle;
    padding: 0;
    color: silver;
    border: 0.1vw solid silver;
    border-radius: 1vw;
    cursor: pointer;
}

#himmel__button:hover {
  background: rgba(61, 157, 221, 0.664);
  transition-duration: 1s;
}

#himmel__button:active {
    background: rgba(24, 22, 122, 0.801);
    transition-duration: 90ms;
}

#himmel__result {
    margin: auto;
    margin-top: 3vh;
    border: 0.1vw solid rgb(114, 165, 199);
    border-radius: 1.4vw;
    color: silver;
    font-size: min(max(1vw, 2vw), 2vw);
    width: 30.4vw;
    height: 20vh;
    max-width: 90%;
    max-height: 80%;
    height: 20vh;
}

#windrose {
    height: 30vw;
    max-height: 60vh;
    min-height: 100px;
}

/* Winkeltransformationen */
#winkel__paragraph {
    font-size: 80px;
    margin: 60px;
}

/* Koordinatentransformationen */
#koors__paragraph {
    font-size: 80px;
    margin: 60px;
}
