/* ----------------- Trafo Page ----------------- */

.trafo__header {
    background:rgb(22, 86, 122);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height:auto;
    height: calc(20% + (28 - 16) * ((100vw - 320px) / (1600 - 320)));
    font-family: 'Tahoma', sans-serif;
    font-size:  calc(35px + (28 - 16) * ((100vw - 320px) / (2000)));
    color: silver;
    border-bottom: 1px solid silver;
    border-radius: 40px;
}

#title{
    font-family: 'Tahoma', sans-serif;
    text-align: left;
    font-size:  calc(16px + (28 - 16) * ((100vw - 320px) / (1600 - 320)));
    color: rgb(114, 165, 199);
    padding: 20px;
    border-left: 7px solid rgb(114, 165, 199);
    border-radius: 20px;
    width: 100%;
}

.container {
    background:rgb(28, 99, 141);
    min-height:auto;
    height: 100%;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    border-radius: 40px;
}

/* Himmelsrichtungen */
#himmel__paragraph {
    font-size: 80px;
    margin: 60px;
}

/* Winkeltransformationen */
#winkel__paragraph {
    font-size: 80px;
    margin: 60px;
}

/* koordinatentransformationen */
#koors__paragraph {
    font-size: 80px;
    margin: 60px;
}
