/* ----------------- Trafo Page ----------------- */

.trafo__header {
    background:rgba(22, 85, 122, 0.801);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height:auto;
    height: 10vw;
    font-family: 'Tahoma', sans-serif;
    font-size:  3vw;
    color: silver;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    border-radius: 2.8vw;
}

#title{
    font-family: 'Tahoma', sans-serif;
    text-align: left;
    font-size:  2vw;
    color: rgb(114, 165, 199);
    padding: 1vw;
    border-left: 0.4vw solid rgb(114, 165, 199);
    border-radius: 1.4vw;
    width: 100%;
}

.container {
    background:rgb(28, 99, 141);
    min-height:auto;
    height: 100%;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    border-radius: 2.8vw;
}

/* Himmelsrichtungen */
#himmel__paragraph {
    font-size: 80px;
    margin: 60px;
}

/* Winkeltransformationen */
#winkel__paragraph {
    font-size: 80px;
    margin: 60px;
}

/* Koordinatentransformationen */
#koors__paragraph {
    font-size: 80px;
    margin: 60px;
}
